# Copie para ".env" antes de rodar "docker compose up" para sobrescrever os valores padrão.
POSTGRES_PASSWORD=kaic1806
NEXTAUTH_SECRET=samba-escola-secret-key-mude-isso-em-producao
NEXTAUTH_URL=http://localhost:3000
